<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <!-- Application title. -->
    <a
        class="navbar-brand border px-2 font-italic"
        href="#"
        style="border-radius: 50%;">
        {{ restData['appInfo']['appName'] }}
    </a>
    <!-- Enabled for menus if any. Commented for having no menus currently. -->
    <!-- <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarrightmenuform">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarrightmenuform">
        <form class="form-inline my-2 my-lg-0">
            <a
                class="btn btn-secondary my-2 my-sm-0"
                type="button"
                [routerLink]="['eahelp']">
                Help
            </a>
        </form>
    </div> -->
</nav>
